.tv-children {
  display: none;
  margin-left: 12px;
}

.tv > .tv-children {
  margin-left: 0;
}

.tv-toggler {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tv-toggler {
  width: 11px;
  height: 11px;
  display: inline-block;
  background-color: #000;
  border: 1px solid #000;
  margin-right: 4px;
}

.tv > .tv-children,
.tv-node-expanded > .tv-children {
  display: block;
}

.tv-node-expanded > .tv-toggler {
  background-color: #fff;
}
